.obsidian/
.smtcmp_json_db/
.smtcmp_vector_db.tar.gz
.stfolder/
.trash/

Practice Questions from friend.md
Home page.md

icons.excalidrawlib
Readme.md
Untitled 1.md
Untitled 2.md
Untitled 3.md
Untitled mindmap.md
Untitled.base
Untitled.md
bubbles.excalidrawlib
clip.nebo
cost accounting notes/
gemini-scribe/


*.pdf
